body 
{
    font-size: 16px;
    background-color: rgb(107, 175, 187);
}
    

.conteudo {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
    background-color: white;
    padding: 18px;
    border:10px;
    width: 300px;
    margin: 10px auto;
    cursor: pointer;
  }

 
  
  .conteudo span {
    margin-top: -10px;
    display: block;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    
  }

  .conteudo.aberta span {
    display: none;
    
  }
    
.conteudo.aberta {
 max-height: 500px;
 border-radius: 10px;
 overflow-y: scroll;
 
 }
    
buttoN {
display: block;
height: 50px;
background-color: white;
border-radius: 10px;

 margin: 10px auto; /* Centraliza os botões horizontalmente */
}
.menu
{
    background-color: rgba(44, 102, 136, 0.699);
    margin-left: -10px ;
    margin-top: -10px;
    width: 365px;
    height: 70px;
   
}
.menu P
{
    color: white;
    margin-top: 50px;
    margin-left: 80px;
    font-size: 30px;
}
.logo
{
    margin-left: 0px;
    margin-top: 10px;
} 
.dentro
{
   
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: 40px;
    height: 700px;
    flex-direction: column;
}  
.ni
{
  display: flex;
  flex-direction: row;
}
.caixa
{
  width: 40px;
}

.caixa1
{
width: 90px;
}

/*caixa2{}*/
.caixa3
{
  width: 60px;
}

